# Ignore bundler config
/.bundle/
/vendor/bundle
/lib/bundler/man/

# Ignore local environment variables
.env
.env.*

# Ignore test coverage
/coverage/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/

# Ignore documentation
/doc/
/rdoc/

# Ignore package files
*.gem
.ruby-version
.ruby-gemset

# Ignore OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore log files
*.log

# Ignore image files that might contain sensitive data
imageRUBY.jpg